.container {
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-size: 1rem 1rem;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  height: 100%;
  position: absolute;
  width: 100%;
}

.villageContainer {
  position: absolute;
}

.village {
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  border: 1px solid grey;
  box-sizing: content-box;
}

.nextButtonContainer {
  height: 2rem;
  bottom: -2rem;
  position: absolute;
}

.nextButton {
  background-color: #ff88ff;
}
